* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  /* Font: Poppins Regular  */
  font-family: var(--regular-subfont);
  font-weight: var(--regular-subfont-weight);
  font-style: var(--regular-subfont-style);

  font-size: clamp(0.4vw, 0.8vw, 1.2vw);
}

/* Buttons */
.button {
  border-radius: 0.8em;
  max-width: 20em;
  padding: 0.8em 3em;
  font-size: 1vw;
  align-items: center;
  align-self: flex-start;

  font-family: var(--regular-subfont);
  font-weight: var(--semibold-subfont-weight);
  font-style: var(--regular-subfont-style);
}

.button-black {
  color: var(--white);
  background-color: var(--black);
}

.button-white {
  color: var(--black);
  background-color: var(--white);
}

/* Navbar */
nav {
  padding: 1em 1em; /* Some padding around the navbar */
}

.navbar {
  /* Font: Poppins Regular  */
  font-family: var(--regular-subfont);
  font-weight: var(--regular-subfont-weight);
  font-style: var(--regular-subfont-style);
  font-size: var(--font-size-m);
}

nav .container {
  display: flex; /* Flex container */
  align-items: center; /* Center content vertically */
  max-width: 100%; /* Occupy entire view width */
}

.navbar .logo {
  max-width: 70%; /* Limit the size of the logo */
}

.navbar-content {
  flex-grow: 1; /* Ensures the ul elements take up available space */
  display: flex; /* Flex container - enables justify content */
  justify-content: center; /* Centers ul elements */
}

nav ul {
  display: flex; /* Flex container for ul elements so they don't stack vertically */
  list-style: none; /* Remove bullet points */
  gap: 3em;
}

#booking {
  margin-left: auto; /* Booking button pushed to the right */
}

nav a {
  color: var(--black); /* Color the nav links */
}

nav a:hover {
  color: #007bff; /* Hover effect */
}

/* Mobile Menu */
#hamburger-icon {
  margin: auto 0;
  display: none; /* Hide while not in mobile-mode */
  cursor: pointer; /* Clickable */
}

#hamburger-icon div {
  width: 20px;
  height: 2px;
  background-color: var(--black);
  margin: 4px 0;
  transition: 0.4s;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  /* Position mobile menu*/
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  max-height: fit-content;
  background-color: var(--yellow);
  max-width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* Hero */
#section1 {
  padding-top: 15vw;
  padding-bottom: 15vw;
  padding-left: 7vw;
}

.hero .container {
  max-width: clamp(20vw, 70vw, 100vw);
}

h1 {
  font-size: 5vw;
  line-height: 1em;

  /* Font: DM Serif Display Regular */
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  font-style: var(--headline-style);
}

h2 {
  font-size: 3vw;
  line-height: 1em;

  /* Font: DM Serif Display Regular */
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  font-style: var(--headline-style);
}

#hero-subtext {
  padding-top: 0.5em;
  padding-bottom: 1.3em;
  max-width: 50vw;
  font-size: 1.5vw;
}

.bg-hero {
  background: url("/images/topbillede.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Container */
.container {
  max-width: 45vw;
  padding: 0 1em;
  border: 2px solid red;
}

/* Section */
section {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

#section2 {
  text-align: center;
  justify-content: center;
  display: flex;
}

#section3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 5em;
}
#section3 img {
  max-width: 70%;
}
#section3 .container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: left;
  max-width: clamp(20vw, 36.7vw, 50vw);
}

section p {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

/* Footer */
.footer-main {
  display: flex;
}

/* Scaling */
@media only screen and (max-width: 900px) {
  .navbar-content {
    display: none; /* Remove top navbar links */
  }
  #hamburger-icon {
    display: block;
  }
  #section3 {
    display: grid;
    place-items: center;
    padding-right: 0;
    border: 2px solid blue;
  }
  #section3 .container {
    padding-top: 2vw;
    max-width: 45%;
  }

  #horizontal-image {
    background-image: url("images/splitsektion-1.jpg");
    background-size: cover;
    background-position: center center;
    min-width: 77vw;
    min-height: 20vw;
    border: 2px solid blue;
  }
  #section3 img {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .navbar-content {
    font-size: var(--font-size-s);
  }
  .navbar .logo {
    max-width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  #navbutton {
    font-size: var(--font-size-xs);
  }
  .navbar-content {
    font-size: var(--font-size-xs);
  }
  .navbar .logo {
    max-width: 50%;
  }
}

/* Color Variables */
:root {
  --yellow: #f8dd9f;
  --black: #000000;
  --white: #ffffff;
}

/* Backgrounds */
.background-white {
  background-color: var(--white);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-black {
  background-color: var(--black);
}

/* Text Colors */
.color-white {
  color: var(--white);
}

.color-yellow {
  color: var(--yellow);
}

.color-black {
  color: var(--black);
}

/* Font Sizes */
:root {
  --font-size-xs: 0.7em;
  --font-size-s: 0.8em;
  --font-size-m: 0.9em;
  --font-size-l: 2em;
  --font-size-xl: 4em;
  --font-size-xxl: 5em;
}

/* Font Line Gaps */
.nl {
  line-height: 1em;
}

/* Fonts */
:root {
  /* Headlines: dm-serif-display-regular */
  --headline-font: "DM Serif Display", serif;
  --headline-weight: 400;
  --headline-style: normal;

  /* Body text: poppins-regular */
  --regular-subfont: "Poppins", serif;
  --regular-subfont-weight: 400;
  --regular-subfont-style: normal;

  /* poppins-bold */
  --bold-subfont-weight: 700;

  /* poppins-semibold */
  --semibold-subfont-weight: 600;
}
