* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Navbar */
nav {
  padding: 1em 1em; /* Some padding around the navbar */
}

nav .container {
  display: flex; /* Flex container */
  align-items: center; /* Center content vertically */
  max-width: 100%; /* Occupy entire view width */
}

.navbar .logo {
  max-width: 70%; /* Limit the size of the logo */
}

.navbar-content {
  flex-grow: 1; /* Ensures the ul elements take up available space */
  display: flex; /* Flex container - enables justify content */
  justify-content: center; /* Centers ul elements */
  font-size: var(--medium-font-size);
}

nav ul {
  display: flex; /* Flex container for ul elements so they don't stack vertically */
  list-style: none; /* Remove bullet points */
  gap: 3em;
}

.booking {
  margin-left: auto; /* Booking button pushed to the right */
}

nav a {
  color: var(--black); /* Color the nav links */
}

nav a:hover {
  color: #007bff; /* Hover effect */
}

/* Mobile Menu */
#hamburger-icon {
  margin: auto 0;
  display: none; /* Hide while not in mobile-mode */
  cursor: pointer; /* Clickable */
}

#hamburger-icon div {
  width: 20px;
  height: 2px;
  background-color: var(--black);
  margin: 4px 0;
  transition: 0.4s;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  /* Position mobile menu*/
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  max-height: fit-content;
  background-color: var(--yellow);
  max-width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

/* Hero */
#section1 {
  padding: 13em 6em;
}

hero .container {
  max-width: 50em;
}

.bg-hero {
  background: url("/images/topbillede.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Container */
.container {
  max-width: 72rem;
  padding: 0 1em;
}

/* Section */
section {
  padding: 4rem 0;
}

/* Footer */
.footer-main {
  display: flex;
}

/* Scaling */
@media only screen and (max-width: 710px) {
  .navbar-content {
    display: none; /* Remove top navbar links */
  }
  #hamburger-icon {
    display: block;
  }
}

@media only screen and (max-width: 1020px) {
  .navbar-content {
    font-size: var(--small-font-size);
  }
  .navbar .booking {
    font-size: var(--small-font-size);
  }
  .navbar .logo {
    max-width: 50%;
  }
}

@media only screen and (max-width: 872px) {
  .navbar-content {
    font-size: var(--extra-small-font-size);
  }
  .navbar .booking {
    font-size: var(--extra-small-font-size);
  }
  .navbar .logo {
    max-width: 30%;
  }
}

/* Color Variables */
:root {
  --yellow: #f8dd9f;
  --black: #000000;
  --white: #ffffff;
}

/* Backgrounds */
.background-white {
  background-color: var(--white);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-black {
  background-color: var(--black);
}

/* Text Colors */
.color-white {
  color: var(--white);
}

.color-yellow {
  color: var(--yellow);
}

.color-black {
  color: var(--black);
}

/* Font Sizes */
:root {
  --medium-font-size: 14px;
  --small-font-size: 11px;
  --extra-small-font-size: 8px;
}
.xsm {
  font-size: 10px;
}

.sm {
  font-size: 20px;
}

.m {
  font-size: 30px;
}

.l {
  font-size: 40px;
}

.xl {
  font-size: 50px;
}

.xxl {
  font-size: 60px;
}

/* Font Line Gaps */
.nl {
  line-height: 1em;
}
